<footer class="footer">
    <div class="top-section">
        <div class="container cf">
            <section class="footer-widget support">
                <h1 class="footer-widget__title">Support</h1>

                <ul class="footer-widget__list">
                    <li class="footer-widget__item">
                        <a href="#">Terms of Service</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Security</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </section>
            <!-- end footer widget -->

            <section class="footer-widget users">
                <h1 class="footer-widget__title">For users</h1>

                <ul class="footer-widget__list">
                    <li class="footer-widget__item">
                        <a href="#">The best solutions</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Special offers</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Quality control</a>
                    </li>

                    <li class="footer-widget__item">
                        <a href="#">Services</a>
                    </li>
                </ul>
            </section>
            <!-- end footer widget -->

            <section class="footer-widget contacts">
                <h1 class="footer-widget__title">Contacts</h1>

                <div class="footer-widget__contacts">
                    <div class="footer-widget__phone">800<strong>234-67-89</strong></div>
                    <div class="footer-widget__email">info@website.com</div>
                    <div class="footer-widget__address"><span>Spain</span>, Madrid, 4753 Fourth St</div>
                </div>
            </section>
            <!-- end footer widget -->

            <section class="tweets">
                <h1 class="tweets__title">Latest tweets</h1>

                <div class="wrap-tweets-slider">
                    <ul class="tweets-slider">
                        <li class="tweets-slider__item">
                            <div class="tweet">
                                <p>The generated Lorem Ipsum is therefore always free from repetition, injected
                                    humour.</p>
                                <div class="tweet__footer">
                                    <span class="tweet__author">@Exotico</span>
                                    <span class="tweet__time">3 hours ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- end tweets -->
        </div>
        <!-- end container -->
    </div>
    <!-- end top section -->

    <div class="bottom-section">
        <div class="container cf">
            <div class="ins-top-section">
                <nav class="wrap-second-nav">
                    <ul class="second-nav">
                        <li class="second-nav__item">
                            <a href="index.html">Home</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="about.html">About</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="products.html">Products</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="products.html">Products</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="blog.html">Blog</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="shop.html">Shop</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="gallery.html">Gallery</a>
                        </li>

                        <li class="second-nav__item">
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <!-- end second nav -->
            </div>
            <!-- end ins top section -->

            <div class="ins-bottom-section">
                <div class="social">
                    <a href="#" target="_blank" class="social__item social__item_flickr">Flickr</a>
                    <a href="#" target="_blank" class="social__item social__item_twitter">Twitter</a>
                    <a href="#" target="_blank" class="social__item social__item_facebook">Facebook</a>
                    <a href="#" target="_blank" class="social__item social__item_pinterest">Pinterest</a>
                </div>
                <!-- End social -->

                <div class="copy">&copy; 2014 - All Rights Reserved</div>
                <!-- end copy -->
            </div>
            <!-- end ins bottom section -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bottom-section -->
</footer>
<!-- end footer -->