<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Exotico</title>
        <meta name="description" content="HTML framework description">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&amp;subset=latin,latin-ext,cyrillic-ext,cyrillic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredoka+One">
        <!-- end fonts -->

        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <!-- End styles -->

        <script src="js/libs/jquery-1.10.2.min.js"></script>
        <script src="js/libs/jquery-ui.js"></script>
        <!-- End jQuery -->
        
        <script type='text/javascript' src='js/libs/modernizr-2.5.3.min.js'></script>
         <!-- End modernizr -->

        <!-- Semantic HTML5 Support on old IE -->
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                    filter: none;
                }
            </style>
        <![endif]-->
    </head>
    <!-- End head -->

    <body>
        <header class="header">
            <div class="container cf">
                <a href="index.html" class="logo"><img src="css/images/logo.png" alt="Exotico"></a>
                <a href="index.html" class="logo logo_second-type"><img src="css/images/logo-second-type.png" alt="Exotico"></a>
                <!-- end logo -->

                <div class="basket float-right">
                    <a href="#" class="basket__link">Basket</a>
                    <span class="basket__count">3</span>
                    <div class="basket__price">$780</div>
                </div>
                <!-- end basket -->

                <nav class="wrap-nav">
                    <ul class="nav">
                        <li class="nav__item">
                            <a href="index.html">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="about.html">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="products.html">Products</a>

                                <ul class="sub-nav">
                                    <li class="sub-nav__item">
                                        <a href="#">Fruits</a>
                                    </li>

                                    <li class="sub-nav__item">
                                        <a href="#">Vegetables</a>
                                    </li>

                                    <li class="sub-nav__item sub-nav__item_active">
                                        <a href="#">Berries</a>
                                    </li>

                                    <li class="sub-nav__item">
                                        <a href="#">Other</a>
                                    </li>
                                </ul>
                                <!-- end sub nav -->
                        </li>

                        <li class="nav__item">
                            <a href="blog.html">Blog</a>
                        </li>

                        <li class="nav__item">
                            <a href="shop.html">Shop</a>
                        </li>

                        <li class="nav__item nav__item_active">
                            <a href="gallery.html">Gallery</a>
                        </li>

                        <li class="nav__item">
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                    <!-- end nav -->

                    <a href="#" class="nav-toggle-btn"><i class="nav-toggle-btn__icon"></i>Drop menu</a>
                </nav>
                <!-- end wrap nav -->
            </div>
            <!-- end container -->
        </header>
         <!-- end header -->

        <header class="heading">
            <div class="container">
                <h1 class="heading__title">Gallery</h1>

                <ul class="breadcrumb">
                    <li class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Home</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item_arrow">&rarr;</li>
                    <li class="breadcrumb__item">Gallery</li>
                </ul>
                <!-- End breadcrumb -->
            </div>
            <!-- End container -->
        </header>
        <!-- End heading -->

        <div class="container container_pull-top">
            <div class="gallery-container">
                <header class="gallery-filters">
                    <a href="#" class="gallery-filter">Blackberry</a>
                    <a href="#" class="gallery-filter">Apple</a>
                    <a href="#" class="gallery-filter">Coconut</a>
                    <a href="#" class="gallery-filter">Dragonfruit</a>
                    <a href="#" class="gallery-filter">Feijoa</a>
                    <a href="#" class="gallery-filter">Gooseberry</a>
                    <a href="#" class="gallery-filter">Jambul</a>
                    <a href="#" class="gallery-filter">Mango </a>
                    <a href="#" class="gallery-filter">Nectarine</a>
                    <a href="#" class="gallery-filter">Nectarine</a>
                </header>
                <!-- End gallery filters -->

                <div class="gallery-items cf">
                    <div class="grid-sizer"></div>
                    <figure class="gallery-item gallery-item_medium">
                        <img src="http://placehold.it/384x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item gallery-item_big">
                        <img src="http://placehold.it/576x360" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item gallery-item_medium">
                        <img src="http://placehold.it/384x360" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->

                    <figure class="gallery-item">
                        <img src="http://placehold.it/192x180" alt="#">

                        <a href="http://placehold.it/960x600" title="Image title here">
                            <div class="wrap-overlay-layer">
                                <div class="overlay-layer">
                                    <div class="ins-overlay-layer">
                                        <i class="overlay-layer__icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay layer -->
                        </a>
                    </figure>
                    <!-- End gallery photo -->
                </div>
                <!-- End gallery -->
            </div>
            <!-- End gallery container -->
        </div>
        <!-- End container -->

        <footer class="footer">
            <div class="top-section">
                <div class="container cf">
                    <section class="footer-widget footer-widget_support">
                        <h1 class="footer-widget__title">Support</h1>

                        <ul class="footer-widget__list">
                            <li class="footer-widget__item">
                                <a href="#">Terms of Service</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Security</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Privacy Policy</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Sitemap</a>
                            </li>
                        </ul>
                    </section>
                    <!-- End footer widget -->

                    <section class="footer-widget footer-widget_users">
                        <h1 class="footer-widget__title">For users</h1>

                        <ul class="footer-widget__list">
                            <li class="footer-widget__item">
                                <a href="#">The best solutions</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Special offers</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Quality control</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Services</a>
                            </li>
                        </ul>
                    </section>
                    <!-- End footer widget -->

                    <section class="footer-widget footer-widget_contacts">
                        <h1 class="footer-widget__title">Contacts</h1>

                        <div class="footer-widget__contacts">
                            <div class="footer-widget__phone">800<strong>234-67-89</strong></div>
                            <div class="footer-widget__email">info@website.com</div>
                            <div class="footer-widget__address"><span>Spain</span>, Madrid, 4753 Fourth St</div>
                        </div>
                    </section>
                    <!-- End footer widget -->

                    <section class="tweets">
                        <h1 class="tweets__title">Latest tweets</h1>

                        <div class="wrap-tweets-slider">
                            <ul class="tweets-slider">
                                <li class="tweets-slider__item">
                                    <div class="tweet">
                                        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                                        <div class="tweet__footer">
                                            <span class="tweet__author">@Exotico</span>
                                            <span class="tweet__time">3 hours ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end tweets -->
                </div>
                <!-- End container -->
            </div>
            <!-- End top section -->

            <div class="bottom-section">
                <div class="container cf">
                    <div class="ins-top-section">
                        <nav class="wrap-second-nav">
                            <ul class="second-nav">
                                <li class="second-nav__item">
                                    <a href="index.html">Home</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="about.html">About</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="products.html">Products</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="products.html">Products</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="blog.html">Blog</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="shop.html">Shop</a>
                                </li>

                                <li class="second-nav__item second-nav__item_active">
                                    <a href="gallery.html">Gallery</a>
                                </li>

                                <li class="second-nav__item">
                                   <a href="contacts.html">Contacts</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end second nav -->
                    </div>
                    <!-- End ins top section -->

                    <div class="ins-bottom-section">
                        <div class="social">
                            <a href="#" target="_blank" class="social__item social__item_flickr">Flickr</a>
                            <a href="#" target="_blank" class="social__item social__item_twitter">Twitter</a>
                            <a href="#" target="_blank" class="social__item social__item_facebook">Facebook</a>
                            <a href="#" target="_blank" class="social__item social__item_pinterest">Pinterest</a>
                        </div>
                        <!-- End social -->

                        <div class="copy">&copy; 2014  - All Rights Reserved </div>
                        <!-- End copy -->
                    </div>
                    <!-- End ins bottom section -->
                </div>
                <!-- End container -->
            </div>
            <!-- End bottom-section -->
        </footer>
        <!-- End footer -->

        <script src="js/libs/jquery.bxslider.min.js"></script>
        <script src="js/libs/jquery.fitvids.js"></script>
        <script src="js/libs/isotope.pkgd.min.js"></script>
        <script src="js/libs/jquery.magnific-popup.min.js"></script>
        <!-- End libs -->

        <script>
            jQuery(function($) {
                $(window).load(function(){
                    var $container = $(".gallery-items");

                    $container.masonry({
                        columnWidth:".grid-sizer",
                        itemSelector: ".gallery-item"
                    });
                    /* end masonry */

                    $(".gallery-item").magnificPopup({
                        delegate: 'a',
                        type: 'image',
                        tLoading: 'Loading image #%curr%...',
                        mainClass: 'mfp-img-mobile',
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                        },
                        image: {
                            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                            titleSrc: function(item) {
                                return item.el.attr('title');
                            }
                        }
                    });
                });
                /* End popup */
            });
        </script>
        
        <script src="js/scripts.js"></script>
        <!-- End custom -->
    </body>
    <!-- End body -->
</html>