{% load staticfiles %}


<header class="header" style="position: fixed;width: 100%;top: 0;z-index: 1;">
    <div class="container cf">
        <a href="{% url 'index_view' %}" class="logo">
            <img src="{% static 'css/images/tiens_logo.png' %}" alt="Tiens" style="width: 100%; height: 100%; "></a>
        <a href="{% url 'index_view' %}" class="logo logo_second-type"><img
                src="{% static 'css/images/tiens_logo.png' %}"
                alt="Tiens"
                style="width: 153px;    height: 42px;    margin-bottom: 3px;"></a>
        <!-- end logo -->


        <!-- end basket -->

        <nav class="wrap-nav">
            <ul class="nav">
                <li class="nav__item">
                    <a href="{% url 'index_view' %}" style="font-size: 14px;">Главная</a>
                </li>
                {##}
                {#                <li class="nav__item aligncenter">#}
                {#                    <a href="{% url 'index_view' %}" style="font-size: 16px;">+996 (501) 308 808</a>#}
                {#                </li>#}

                {#                <li class="nav__item">#}
                {#                    <a href="about.html">About</a>#}
                {#                </li>#}
                {##}
                {#                <li class="nav__item">#}
                {#                    <a href="products.html">Products</a>#}
                {##}
                {#                    <ul class="sub-nav">#}
                {#                        <li class="sub-nav__item">#}
                {#                            <a href="#">Fruits</a>#}
                {#                        </li>#}
                {##}
                {#                        <li class="sub-nav__item">#}
                {#                            <a href="#">Vegetables</a>#}
                {#                        </li>#}
                {##}
                {#                        <li class="sub-nav__item sub-nav__item_active">#}
                {#                            <a href="#">Berries</a>#}
                {#                        </li>#}
                {##}
                {#                        <li class="sub-nav__item">#}
                {#                            <a href="#">Other</a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                    <!-- end sub nav -->#}
                {#                </li>#}
                {##}
                {#                <li class="nav__item">#}
                {#                    <a href="blog.html">Blog</a>#}
                {#                </li>#}
                {##}
                {#                <li class="nav__item">#}
                {#                    <a href="shop.html">Shop</a>#}
                {#                </li>#}
                {##}
                {#                <li class="nav__item">#}
                {#                    <a href="gallery.html">Gallery</a>#}
                {#                </li>#}
                {##}
                {#                <li class="nav__item">#}
                {#                    <a href="contacts.html">Contacts</a>#}
                {#                </li>#}
            </ul>
            <!-- end nav -->

            {#            <a href="#" class="nav-toggle-btn"><i class="nav-toggle-btn__icon"></i>Drop menu</a>#}
        </nav>
        <div class="basket float-right" style="display: flex;flex-direction: column;">
            {% load carton_tags %}
            {% get_basket as cart %}

            <div class="cart-status" style="display: flex;flex-direction: row;justify-content: flex-end;">
                <a href="{% url 'cart_view' %}" class="basket__link">Корзина</a>
                <span class="basket__count">{{ cart.count }}</span>
                <div class="basket__price">{{ cart.total }} сом</div>
                <br>
            </div>
            <div class="basket__price" style="margin-top: 5px; font-size: 18px;">
                <a href="tel: +996501308808"
                   style="color: #ffffff"> +996(501) 308 808 </a></div>


        </div>
        <!-- end wrap nav -->

    </div>
    <!-- end container -->

</header>
<!-- end header -->