{% extends 'base.html' %}

{% block content %}
    <div class="wrap-main-slider">
        <ul class="main-slider">
            {% load staticfiles %}
            <li class="main-slider__item main-slider__item_first-bg" style="background: url({% static 'css/images/green_diamond_patterns-wallpaper-1920x1080.jpg' %}) no-repeat center;">
                <div class="container">
                    <h1 class="main-slider__title">treat your family<br>with fresh and juicy fruits!</h1>

                    <article class="main-slider-post">
                        <div class="main-slider-post__container">
                            <h1 class="main-slider-post__title">Orange</h1>

                            <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance
                                having web copy before the design starts.</p>

                            <blockquote class="main-slider-post__quote">
                                <p>Best treat when inviting friends or family!</p>
                            </blockquote>
                        </div>
                        <!-- end main slider post container -->

                        <div class="main-slider-post__image">
                            <img src="http://placehold.it/432x375/333" alt="#">

                            <div class="wrap-price">
                                <div class="price">$58</div>
                            </div>
                        </div>
                        <!-- end main slider post image -->
                    </article>
                    <!-- main slider post -->
                </div>
{#                <!-- end container -->#}
            </li>
            <!-- end main slider item -->
        </ul>
        <!-- end main slider -->
    </div>
    <!-- end wrap main slider -->

    <div class="container">

        <div class="wrap-slider">
            <header class="slider-heading cf">
                {#                <div class="slider-controls">#}
                {#                    <div class="slider-controls__prev"></div>#}
                {#                    <div class="slider-controls__next"></div>#}
                {#                </div>#}
                {#                <!-- end slider controls -->#}

                <h1 class="slider-heading__title">Специальные предложения</h1>


            </header>
            <!-- end slider heading -->

            <ul class="slider">
                {% for item in products %}
                    <li class="slider__item">
                        <div class="shop-item">
                            <div class="shop-item__thumb">
                                <img src="{{ item.image.url }}" alt="">
                            </div>
                            <!-- end shop item thumb -->

                            <div class="shop-item__content">
                                <h1 class="shop-item__title"  style="font-size: 14px">{{ item.title|truncatechars:30 }}</h1>
                                <div class="shop-item__price">{{ item.price }}</div>
                            </div>
                            <!-- end shop item content -->

                            <a href="{% url 'add_to_cart' %}?product_id={{ item.id }}" class="buy-btn"><i
                                    class="buy-btn__icon"></i>Купить</a>
                        </div>
                        <!-- end shop item -->
                    </li>
                    <!-- end slider item -->
                {% endfor %}

                <!-- end slider item -->
            </ul>
        </div>
        <!-- end best offers -->

        <header class="slider-heading cf">

            <h1 class="slider-heading__title">Продукция</h1>

        </header>

        <div class="shop-items cf">
            <div class="grid-sizer"></div>
            {% for item in products %}
                <div class="shop-item">
                    <div class="shop-item__thumb">
                        <img src="{{ item.image.url }}" alt="" style="padding: 15px;">
                    </div>
                    <!-- end shop item thumb -->

                    <div class="shop-item__content">
                        <h1 class="shop-item__title" style="font-size: 14px">{{ item.title|truncatechars:30 }}</h1>
                        <div class="shop-item__price">{{ item.price }} сом</div>
                    </div>
                    <!-- end shop item content -->

                    <a href="{% url 'add_to_cart' %}?product_id={{ item.id }}" class="buy-btn" id="ajax_cart_add"><i
                            class="buy-btn__icon"></i>Купить</a>
                </div>
                <!-- end shop item -->

            {% endfor %}

        </div>


        {#        <div class="picture-block">#}
        {#            <h1 class="picture-block__title">experience</h1>#}
        {#            <p>However, back over in reality some project schedules and with<br>the web copy, we want you think#}
        {#                about#}
        {#                how numbers</p>#}
        {#            <a href="#" class="btn">See more &#8250;</a>#}
        {#        </div>#}
        {#        <!-- end picture block -->#}

        {#        <div class="category-products cf">#}
        {#            <div class="category-product">#}
        {#                <h1 class="category__title">Fruits</h1>#}
        {#                <a href="shop.html" class="category__btn">See more &#8250;</a>#}
        {#            </div>#}
        {#            <!-- end category product -->#}
        {##}
        {#            <div class="category-product">#}
        {#                <h1 class="category__title">Vegetables</h1>#}
        {#                <a href="shop.html" class="category__btn">See more &#8250;</a>#}
        {#            </div>#}
        {#            <!-- end category product -->#}
        {##}
        {#            <div class="category-product">#}
        {#                <h1 class="category__title">Berries</h1>#}
        {#                <a href="shop.html" class="category__btn">See more &#8250;</a>#}
        {#            </div>#}
        {#            <!-- end category product -->#}
        {#        </div>#}
        {#        <!-- end category products -->#}
        {#        <!-- end container -->#}

    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $('.buy-btn').each(function (i, obj) {
            $(obj).on('click', function (event) {
                event.preventDefault();
                var that = this;
                console.log($(that).attr('href'));

                $.ajax({
                    method: 'GET',
                    dataType: 'HTML',
                    url: $(that).attr('href'),
                    success: function (response) {
                        $('.basket').html(response);
                        {#                        $('.result').html(response);#}
                        {#var data = JSON.parse(response);#}
                        {##}
                        {#var input_form = document.createElement("inpu");#}
                        {#input_form.type = "text";#}
                        {#input_form.value = "det=" + data.result;#}
                        {#input_form.className = "form-button"; // set the CSS class#}
                        {#var block = document.getElementById('matrix_id');#}
                        {#block.append(finput_form);#}
                    },
                    error: function () {
                        console.error('Error to send requet!');
                    }
                });
            })
        });
    </script>
{% endblock %}