<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Exotico</title>
        <meta name="description" content="HTML framework description">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&amp;subset=latin,latin-ext,cyrillic-ext,cyrillic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredoka+One">
        <!-- end fonts -->

        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
         <!-- end styles -->

         <script src="js/libs/jquery-1.10.2.min.js"></script>
         <script src="js/libs/jquery-ui.js"></script>
         <!-- end jQuery -->
        
        <script src="js/libs/modernizr-2.5.3.min.js"></script>
         <!-- end modernizr -->

        <!-- Semantic HTML5 Support on old IE -->
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                    filter: none;
                }
            </style>
        <![endif]-->
    </head>
    <!-- end head -->

    <body>
        <header class="header">
            <div class="container cf">
                <a href="index.html" class="logo"><img src="css/images/logo.png" alt="Exotico"></a>
                <a href="index.html" class="logo logo_second-type"><img src="css/images/logo-second-type.png" alt="Exotico"></a>
                <!-- end logo -->

                <div class="basket float-right">
                    <a href="#" class="basket__link">Basket</a>
                    <span class="basket__count">3</span>
                    <div class="basket__price">$780</div>
                </div>
                <!-- end basket -->

                <nav class="wrap-nav">
                    <ul class="nav">
                        <li class="nav__item">
                            <a href="index.html">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="about.html">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="products.html">Products</a>

                                <ul class="sub-nav">
                                    <li class="sub-nav__item">
                                        <a href="#">Fruits</a>
                                    </li>

                                    <li class="sub-nav__item">
                                        <a href="#">Vegetables</a>
                                    </li>

                                    <li class="sub-nav__item sub-nav__item_active">
                                        <a href="#">Berries</a>
                                    </li>

                                    <li class="sub-nav__item">
                                        <a href="#">Other</a>
                                    </li>
                                </ul>
                                <!-- end sub nav -->
                        </li>

                        <li class="nav__item">
                            <a href="blog.html">Blog</a>
                        </li>

                        <li class="nav__item">
                            <a href="shop.html">Shop</a>
                        </li>

                        <li class="nav__item">
                            <a href="gallery.html">Gallery</a>
                        </li>

                        <li class="nav__item">
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                    <!-- end nav -->

                    <a href="#" class="nav-toggle-btn"><i class="nav-toggle-btn__icon"></i>Drop menu</a>
                </nav>
                <!-- end wrap nav -->
            </div>
            <!-- end container -->
        </header>
         <!-- end header -->

        <div class="wrap-main-slider">
            <ul class="main-slider">
                <li class="main-slider__item main-slider__item_first-bg">
                    <div class="container">
                        <h1 class="main-slider__title">treat your family<br>with fresh and juicy fruits!</h1>

                        <article class="main-slider-post">
                            <div class="main-slider-post__container">
                                <h1 class="main-slider-post__title">Orange</h1>

                                <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance having web copy before the design starts.</p>

                                <blockquote class="main-slider-post__quote">
                                    <p>Best treat when inviting friends or family!</p>
                                </blockquote>
                            </div>
                            <!-- end main slider post container -->

                            <div class="main-slider-post__image">
                                <img src="http://placehold.it/432x375/333" alt="#">
                                
                                <div class="wrap-price">
                                    <div class="price">$58</div>
                                </div>
                            </div>
                            <!-- end main slider post image -->
                        </article>
                        <!-- main slider post -->
                    </div>
                    <!-- end container -->
                </li>
                <!-- end main slider item -->

                <li class="main-slider__item main-slider__item_second-bg">
                    <div class="container">
                        <h1 class="main-slider__title">treat your family<br>with fresh and juicy fruits!</h1>

                        <article class="main-slider-post">
                            <div class="main-slider-post__container">
                                <h1 class="main-slider-post__title">Apple</h1>

                                <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance having web copy before the design starts.</p>

                                <blockquote class="main-slider-post__quote">
                                    <p>Best treat when inviting friends or family!</p>
                                </blockquote>
                            </div>
                            <!-- end main slider post container -->

                            <div class="main-slider-post__image">
                                <img src="http://placehold.it/432x375/333" alt="#">
                                
                                <div class="wrap-price">
                                    <div class="price">$999</div>
                                </div>
                            </div>
                            <!-- end main slider post image -->
                        </article>
                        <!-- main slider post -->
                    </div>
                    <!-- end container -->
                </li>
                <!-- end main slider item -->

                <li class="main-slider__item main-slider__item_third-bg">
                    <div class="container">
                        <h1 class="main-slider__title">treat your family<br>with fresh and juicy fruits!</h1>

                        <article class="main-slider-post">
                            <div class="main-slider-post__container">
                                <h1 class="main-slider-post__title">Punica</h1>

                                <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance having web copy before the design starts.</p>

                                <blockquote class="main-slider-post__quote">
                                    <p>Best treat when inviting friends or family!</p>
                                </blockquote>
                            </div>
                            <!-- end main slider post container -->

                            <div class="main-slider-post__image">
                                <img src="http://placehold.it/432x375/333" alt="#">
                                
                                <div class="wrap-price">
                                    <div class="price">$9999</div>
                                </div>
                            </div>
                            <!-- end main slider post image -->
                        </article>
                        <!-- main slider post -->
                    </div>
                    <!-- end container -->
                </li>
                <!-- end main slider item -->
            </ul>
            <!-- end main slider -->
        </div>
        <!-- end wrap main slider -->

        <div class="container">
            <div class="about">
                <h1 class="about__title">About us</h1>
                <div class="about__sub-title">However, back over in reality some project schedules and  with the web copy,<br>we want you think about how numbers, symbols and bullet points will look.</div>

                <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance having<br>web copy before the design starts. Needless to say it's very important, content is king and people are beginning to understand that.</p>
            </div>
            <!-- end about-->

            <form action="#" method="get" class="search cf">
                <input type="text" name="search-field" placeholder="Find in catalog">
                <button type="submit">Search<i class="search__icon"></i></button>
            </form>
            <!-- end search -->

            <div class="container no-padding cf">
                <div class="video-thumb">
                    <div class="overlay-layer">
                        <div class="ins-overlay-layer">

                            <div class="video-prev">
                                <a href="http://www.youtube.com/watch?v=T_QjEs47xr0" class="video-prev__btn video-popup"></a>

                                <div class="video-prev__entry">
                                    <h1 class="video-prev__title">our production</h1>
                                    <p>Short video about our production</p>
                                </div>
                                <!-- end video entry -->
                            </div>
                        </div>
                    </div>
                    <!-- end overlay layer -->
                </div>
                <!-- end video container -->

                <div class="people">
                    <blockquote class="people__quote">
                        <h1 class="people__name">Peter Berger</h1>
                        <div class="people__post">Vice-president</div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </blockquote>
                    <!-- end people quote -->

                    <div class="people__photo">
                        <img src="http://placehold.it/197x304" alt="">
                    </div>
                    <!-- end people photo -->
                </div>
                <!-- end people -->
            </div>
            <!-- end container -->

            <div class="wrap-slider">
                <header class="slider-heading cf">
                    <div class="slider-controls">
                        <div class="slider-controls__prev"></div>
                        <div class="slider-controls__next"></div>
                    </div>
                    <!-- end slider controls -->

                    <h1 class="slider-heading__title">Best offers</h1>

                    <div class="select-filter">
                        <label class="select-filter__label">Sort by:</label>
                        <select class="dropdown">
                            <option value="1">Gategory</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </select>
                    </div>
                </header>
                <!-- end slider heading -->

                <ul class="slider">
                    <li class="slider__item">
                        <div class="shop-item">
                            <div class="shop-item__thumb">
                                <img src="http://placehold.it/240x239" alt="">
                            </div>
                            <!-- end shop item thumb -->
                            
                            <div class="shop-item__content">
                                <h1 class="shop-item__title">Title of the item for exemple</h1>
                                <div class="shop-item__price">$3,200</div>
                            </div>
                            <!-- end shop item content -->

                            <a href="ins-shop.html" class="buy-btn"><i class="buy-btn__icon"></i>Buy</a>
                        </div>
                        <!-- end shop item -->
                    </li>   
                    <!-- end slider item -->

                    <li class="slider__item">
                        <div class="shop-item">
                            <div class="shop-item__thumb">
                                <img src="http://placehold.it/240x239" alt="">
                            </div>
                            <!-- end shop item thumb -->
                            
                            <div class="shop-item__content">
                                <h1 class="shop-item__title">Title of the item for exemple</h1>
                                <div class="shop-item__price">$3,200</div>
                            </div>
                            <!-- end shop item content -->

                            <a href="ins-shop.html" class="buy-btn"><i class="buy-btn__icon"></i>Buy</a>
                        </div>
                        <!-- end shop item footer -->
                    </li>   
                    <!-- end slider item -->

                    <li class="slider__item">
                        <div class="shop-item">
                            <div class="shop-item__thumb">
                                <img src="http://placehold.it/240x239" alt="">
                            </div>
                            <!-- end shop item thumb -->
                            
                            <div class="shop-item__content">
                                <h1 class="shop-item__title">Title of the item for exemple</h1>
                                <div class="shop-item__price">$3,200</div>
                            </div>
                            <!-- end shop item content -->

                            <a href="ins-shop.html" class="buy-btn"><i class="buy-btn__icon"></i>Buy</a>
                        </div>
                        <!-- end shop item -->
                    </li>   
                    <!-- end slider item -->

                    <li class="slider__item">
                        <div class="shop-item">
                            <div class="shop-item__thumb">
                                <img src="http://placehold.it/240x239" alt="">
                            </div>
                            <!-- end shop item thumb -->
                            
                            <div class="shop-item__content">
                                <h1 class="shop-item__title">Title of the item for exemple</h1>
                                <div class="shop-item__price">$3,200</div>
                            </div>
                            <!-- end shop item content -->

                            <a href="ins-shop.html" class="buy-btn"><i class="buy-btn__icon"></i>Buy</a>
                        </div>
                        <!-- end shop item -->
                    </li>   
                    <!-- end slider item -->
                </ul>
            </div>
            <!-- end best offers -->

            <div class="picture-block">
                <h1 class="picture-block__title">experience</h1>
                <p>However, back over in reality some project schedules and  with<br>the web copy, we want you think about how numbers</p>
                <a href="#" class="btn">See more &#8250;</a>
            </div>
            <!-- end picture block -->

            <div class="container no-padding cf">
                <div class="testimonials tabs testimonials_tabs">
                    <div id="testimonial-tab-1" class="testimonial">
                        <header class="testimonial__header">
                            <h1 class="testimonial__name">Andrea Williams</h1>
                            <div class="testimonial__location">USA, New York, 3174 Groveland Terrace</div>
                            <blockquote class="testimonial__quote">
                                <p>There are many variations of passages of Lorem Ipsum available but the domised words which don't look even slightly believable.</p>
                            </blockquote>
                        </header>
                        <!-- end  testimonial header -->

                        <div class="testimonial__content">
                            <div class="testimonial__gallery">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                            </div>
                            <!-- end testimonial gallery -->

                            <div class="testimonial__entry">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including</p>
                            </div>
                            <!-- end testimonial entry -->
                        </div>
                        <!-- end  testimonial content -->
                    </div>
                    <!-- end  testimonials -->

                    <div id="testimonial-tab-2" class="testimonial">
                        <header class="testimonial__header">
                            <h1 class="testimonial__name">Bernard Martin</h1>
                            <div class="testimonial__location">USA, Chicago, 3174 Groveland Terrace</div>
                            <blockquote class="testimonial__quote">
                                <p>There are many variations of passages of Lorem Ipsum available but the domised words which don't look even slightly believable.</p>
                            </blockquote>
                        </header>
                        <!-- end  testimonial header -->

                        <div class="testimonial__content">
                            <div class="testimonial__gallery">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                            </div>
                            <!-- end testimonial gallery -->

                            <div class="testimonial__entry">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including</p>
                            </div>
                            <!-- end testimonial entry -->
                        </div>
                        <!-- end  testimonial content -->
                    </div>
                    <!-- end  testimonials -->

                    <div id="testimonial-tab-3" class="testimonial">
                        <header class="testimonial__header">
                            <h1 class="testimonial__name">Abigail Meyer</h1>
                            <div class="testimonial__location">USA, Chicago, 3174 Groveland Terrace</div>
                            <blockquote class="testimonial__quote">
                                <p>There are many variations of passages of Lorem Ipsum available but the domised words which don't look even slightly believable.</p>
                            </blockquote>
                        </header>
                        <!-- end  testimonial header -->

                        <div class="testimonial__content">
                            <div class="testimonial__gallery">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                                <img src="http://placehold.it/172x120" alt="">
                            </div>
                            <!-- end testimonial gallery -->

                            <div class="testimonial__entry">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            </div>
                            <!-- end testimonial entry -->
                        </div>
                        <!-- end  testimonial content -->
                    </div>
                    <!-- end  testimonials -->

                    <div class="wrap-testimonials-slider">
                        <ul class="testimonials-slider">
                            <li class="testimonials-slider__item">
                                <a href="#testimonial-tab-1">
                                    <figure class="testimonial-people">
                                        <img src="http://placehold.it/107x107" alt="">

                                        <figcaption>
                                            <h1 class="testimonial-people__name">Andrea Williams</h1>
                                            <div class="testimonial-people__city">USA, New York</div>
                                        </figcaption>
                                    </figure>
                                    <!-- end testimonial people -->
                                </a>
                                <!-- end tab 1 -->
                            </li>
                            <!-- end testimonials slider item -->

                            <li class="testimonials-slider__item">
                                <a href="#testimonial-tab-2">
                                    <figure class="testimonial-people">
                                        <img src="http://placehold.it/107x107" alt="">

                                        <figcaption class="testimonial-peoplecaption">
                                            <h1 class="testimonial-people__name">Bernard Martin</h1>
                                            <div class="testimonial-people__city">USA, Chicago</div>
                                        </figcaption>
                                    </figure>
                                    <!-- end testimonial people -->
                                </a>
                                <!-- end tab 2 -->
                            </li>
                            <!-- end testimonials slider item -->

                            <li class="testimonials-slider__item">
                                <a href="#testimonial-tab-3">
                                    <figure class="testimonial-people">
                                        <img src="http://placehold.it/107x107" alt="">

                                        <figcaption class="testimonial-peoplecaption">
                                            <h1 class="testimonial-people__name">Abigail Meyer</h1>
                                            <div class="testimonial-people__city">German, Berlin</div>
                                        </figcaption>
                                    </figure>
                                    <!-- end testimonial people -->
                                </a>
                                <!-- end tab 3 -->
                            </li>
                            <!-- end testimonials slider item -->
                        </ul>
                    </div>
                    <!-- end testimonials slider -->  
                </div>
                <!-- end testimonials -->

                <aside class="blog-container cf">
                    <h1 class="blog-container__title">blog</h1>

                    <form action="#" method="get" class="subscribe">
                        <h4 class="subscribe__title">Subscribe for our blog</h4>

                        <div class="subscribe__container">
                            <input type="email" name="email" placeholder="Your e-mail">
                            <button type="submit"><i class="subscribe__icon"></i></button>
                        </div>
                    </form>
                    <!-- end subscribe -->

                    <div class="blogs blogs_home">
                        <article class="blog">
                            <div class="blog__thumb">
                                <a href="ins-blog.html">
                                    <img src="http://placehold.it/190x129" alt="">
                                </a>
                            </div>
                            <!-- end blog thumb -->

                            <header class="blog__header">
                                <div class="meta">
                                    <time datetime="2014-03-25" class="meta__item meta__item_date">25 Mar 2014</time>
                                    <a href="#" class="meta__item meta__item_comments">18</a>
                                </div>
                                <!-- end blog meta -->

                                <h1 class="blog__title">
                                    <a href="ins-blog.html">Rangers review presents stark picture</a>
                                </h1>
                            </header>
                            <!-- end blog header -->
                        </article>
                        <!-- end blog -->

                        <article class="blog">
                            <div class="blog__thumb">
                                <a href="ins-blog.html">
                                    <img src="http://placehold.it/190x129" alt="">
                                </a>
                            </div>
                            <!-- end blog thumb -->

                            <header class="blog__header">
                                <div class="meta">
                                    <time datetime="2014-03-25" class="meta__item meta__item_date">25 Mar 2014</time>
                                    <a href="#" class="meta__item meta__item_comments">18</a>
                                </div>
                                <!-- end blog meta -->

                                <h1 class="blog__title">
                                    <a href="ins-blog.html">Rangers review presents stark picture</a>
                                </h1>
                            </header>
                            <!-- end blog header -->
                        </article>
                        <!-- end blog -->
                    </div>
                    <!-- end blogs -->
                </aside>
                <!-- end blog container -->
            </div>
            <!-- end container -->

            <div class="category-products cf">
                <div class="category-product">
                    <h1 class="category__title">Fruits</h1>
                    <a href="shop.html" class="category__btn">See more &#8250;</a>
                </div>
                <!-- end category product -->

                <div class="category-product">
                    <h1 class="category__title">Vegetables</h1>
                    <a href="shop.html" class="category__btn">See more &#8250;</a>
                </div>
                <!-- end category product -->

                <div class="category-product">
                    <h1 class="category__title">Berries</h1>
                    <a href="shop.html" class="category__btn">See more &#8250;</a>
                </div>
                <!-- end category product -->
            </div>
            <!-- end category products -->
        </div>
        <!-- end container -->

        <footer class="footer">
            <div class="top-section">
                <div class="container cf">
                    <section class="footer-widget support">
                        <h1 class="footer-widget__title">Support</h1>

                        <ul class="footer-widget__list">
                            <li class="footer-widget__item">
                                <a href="#">Terms of Service</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Security</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Privacy Policy</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Sitemap</a>
                            </li>
                        </ul>
                    </section>
                    <!-- end footer widget -->

                    <section class="footer-widget users">
                        <h1 class="footer-widget__title">For users</h1>

                        <ul class="footer-widget__list">
                            <li class="footer-widget__item">
                                <a href="#">The best solutions</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Special offers</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Quality control</a>
                            </li>

                            <li class="footer-widget__item">
                                <a href="#">Services</a>
                            </li>
                        </ul>
                    </section>
                    <!-- end footer widget -->

                    <section class="footer-widget contacts">
                        <h1 class="footer-widget__title">Contacts</h1>

                        <div class="footer-widget__contacts">
                            <div class="footer-widget__phone">800<strong>234-67-89</strong></div>
                            <div class="footer-widget__email">info@website.com</div>
                            <div class="footer-widget__address"><span>Spain</span>, Madrid, 4753 Fourth St</div>
                        </div>
                    </section>
                    <!-- end footer widget -->

                    <section class="tweets">
                        <h1 class="tweets__title">Latest tweets</h1>

                        <div class="wrap-tweets-slider">
                            <ul class="tweets-slider">
                                <li class="tweets-slider__item">
                                    <div class="tweet">
                                        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                                        <div class="tweet__footer">
                                            <span class="tweet__author">@Exotico</span>
                                            <span class="tweet__time">3 hours ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- end tweets -->
                </div>
                <!-- end container -->
            </div>
            <!-- end top section -->

            <div class="bottom-section">
                <div class="container cf">
                    <div class="ins-top-section">
                        <nav class="wrap-second-nav">
                            <ul class="second-nav">
                                <li class="second-nav__item">
                                    <a href="index.html">Home</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="about.html">About</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="products.html">Products</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="products.html">Products</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="blog.html">Blog</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="shop.html">Shop</a>
                                </li>

                                <li class="second-nav__item">
                                    <a href="gallery.html">Gallery</a>
                                </li>

                                <li class="second-nav__item">
                                   <a href="contacts.html">Contacts</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end second nav -->
                    </div>
                    <!-- end ins top section -->

                    <div class="ins-bottom-section">
                        <div class="social">
                            <a href="#" target="_blank" class="social__item social__item_flickr">Flickr</a>
                            <a href="#" target="_blank" class="social__item social__item_twitter">Twitter</a>
                            <a href="#" target="_blank" class="social__item social__item_facebook">Facebook</a>
                            <a href="#" target="_blank" class="social__item social__item_pinterest">Pinterest</a>
                        </div>
                        <!-- End social -->

                        <div class="copy">&copy; 2014  - All Rights Reserved </div>
                        <!-- end copy -->
                    </div>
                    <!-- end ins bottom section -->
                </div>
                <!-- end container -->
            </div>
            <!-- end bottom-section -->
        </footer>
        <!-- end footer -->

        <script src="js/libs/jquery.bxslider.min.js"></script>
        <script src="js/libs/jquery.fitvids.js"></script>
        <script src="js/libs/isotope.pkgd.min.js"></script>
        <script src="js/libs/jquery.magnific-popup.min.js"></script>
        <script src="js/libs/jquery.easydropdown.min.js"></script>
        <!-- end libs -->

        <script src="js/scripts.js"></script>
        <!-- end custom -->
    </body>
    <!-- end body -->
</html>