<div class="shop-item shop-item_big shop-item_ins cf">
    <div class="shop-item__content">
        <h1 class="shop-item__title">orange</h1>

        <p>In an ideal world this website wouldn't exist, a client would acknowledge the importance having web copy
            before the design starts.</p>

        <blockquote class="shop-item__quote">
            <p>Best treat when inviting friends or family!</p>
        </blockquote>

        <div class="shop-item__price">$56<span>$75</span></div>
    </div>
    <!-- end shop item content -->

    <div class="shop-item__thumb">
        <img src="http://placehold.it/304x263" alt="">

        <a href="#" class="buy-btn buy-btn_round"><i class="buy-btn__icon"></i>Buy</a>
    </div>
    <!-- end shop item thumb -->

    <div class="shop-item__details">
        <div class="amount">
            <input type="text" value="1" size="5" class="amount__field"/>
            <span class="amount__btn amount__btn_minus">-</span>
            <span class="amount__btn amount__btn_plus">+</span>
        </div>
        <!-- end amount -->
        <br>
        <a href="#" class="buy-btn buy-btn_round"><i class="buy-btn__icon"></i>Buy</a>
    </div>
    <!-- end shop item detailed col -->
</div>
<!-- end shop item big -->
