{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <header class="heading">
        <div class="container">
            <h1 class="heading__title">Products</h1>

            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="#" class="breadcrumb__link">Home</a>
                </li>
                <li class="breadcrumb__item breadcrumb__item_arrow">&rarr;</li>
                <li class="breadcrumb__item">Products</li>
            </ul>
            <!-- End breadcrumb -->
        </div>
        <!-- End container -->
    </header>
    <!-- End heading -->

    <div class="container container_pull-top">
        <div class="product-categories">
            <section class="product-item product-item_fruits">
                <h1 class="product-item__title"><a href="shop.html">Fruits</a></h1>
                <div class="product-item__sub-title">There are many variations of passages<br>but the domised words
                    which
                    don't look even slightly believable.
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </section>
            <!-- End product item -->

            <section class="product-item product-item_vegetables">
                <h1 class="product-item__title"><a href="shop.html">Vegetables</a></h1>
                <div class="product-item__sub-title">There are many variations of passages<br>but the domised words
                    which
                    don't look even slightly believable.
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </section>
            <!-- End product item -->

            <section class="product-item product-item_berries">
                <h1 class="product-item__title"><a href="shop.html">Berries</a></h1>
                <div class="product-item__sub-title">There are many variations of passages<br>but the domised words
                    which
                    don't look even slightly believable.
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </section>
            <!-- End product item -->
        </div>
        <!-- End product categories -->
    </div>
    <!-- End container -->
{% endblock %}